.bg-dark-green{
  background-color:#638f32 !important;
}
.text-dark-green{
  background-color:#638f32 !important;
}

.bg-blue{
  background-color:#3A5FDE !important;
}
.text-blue{
  background-color:#3A5FDE !important;
}
.text-light-green{
    background-color: #87DE23!important;
}
.bg-light-green{
    background-color: #87DE23!important;
}
.bg-red{
    background-color: #f33b08!important;
}
.text-red{
    background-color: #eb3d0c!important;
}
.bg-brown{
    background-color: #eb610b!important;
}